<ion-view view-title="Map">
    <ion-content id="map-content" class="padding" has-bouncing="false" scroll="false" data-tap-disabled="true"
                 ng-controller="MapController">

        <div id="entry">
            <input id="search" type="text" placeholder="Search" ng-model="searchText" ng-change="update()" on-enter="enterText()">
            <ul>
                <li class="place" ng-repeat="p in predictions" ng-click="setPlace(p)">{{ p.description }}</li>
            </ul>
        </div>

        <button id="tracking-toggle" class="button icon ion-android-locate"
                ng-class="{ 'tracking' : tracking }" ng-click="toggleTracking()"></button>
        <div id='map-canvas'></div>
    </ion-content>
</ion-view>
